.profile {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  padding: 74px 0 70px;

  width: 410px;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;

  margin: 0;
}

.profile__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile__input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 123px;
  gap: 24px;
}

.profile__submit-button {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: white;

  padding-bottom: 14px;
  margin-top: auto;
  border-radius: 3px;
  background-color: transparent;
}

.profile__logout-button {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  color: #EE3465;

  margin-top: auto;
  border-radius: 3px;
  background-color: transparent;
}