.profile {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  padding: 74px 0;

  width: 410px;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;

  margin: 0;
}

.profile__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile__input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 123px;
  gap: 24px;
}