.section-container__wrapper_type_movies-list {
  display: flex;
  flex-direction: column;
}

.movies-list__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  padding-top: 80px;
}

.movies-list__button {
  color: white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 28%;
  border-radius: 6px;
  background: #2F2F2F;
  padding: 11px 0 9px;
  margin: 35px auto 100px auto;
}

@media screen and (max-width: 990px) {
  .movies-list__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .movies-list__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px 30px;
  }

  .movies-list__button {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .movies-list__list {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .section-container_type_movies-list {
    padding: 0 10px;
  }

  .movies-list__list {
    gap: 8px 30px;
  }

  .movies-list__button {
    width: 80%;
    margin: 35px auto 110px auto;
  }
}