.section-container {
  box-sizing: border-box;
  padding: 0 70px;
  width: 100%;
}

.section-container__wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.section-container__button {
  color: white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 28%;
  border-radius: 6px;
  background: #2F2F2F;
  padding: 11px 0 9px;
  margin: 35px auto 100px auto;
}

@media screen and (max-width: 768px) {
  .section-container {
    padding: 0 30px;
  }

  .section-container__button {
    width: 45%;
  }
}

@media screen and (max-width: 320px) {
  .section-container {
    padding: 0 14px;
  }

  .section-container__button {
    width: 80%;
    margin: 35px auto 110px auto;
  }
}