.section-container {
  box-sizing: border-box;
  padding: 0 70px;
  width: 100%;
}

.section-container__wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section-container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .section-container {
    padding: 0 14px;
  }
}