.about-container {
  width: 100%;
}

.about-container__title {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.88px;

  margin: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #DADADA;
}

.about-container__content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 110px 70px;
}

.about-container_type_techs {
  background-color: #272727;
}

.about-container__content_type_techs {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 555px) {
  .about-container_type_techs {
    background-color: #202020;
  }
}

@media screen and (max-width: 768px) {
  .about-container__content {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 555px) {
  .about-container__content {
    padding: 70px 18px;
  }

  .about-container__content_type_about-me {
    padding: 65px 14px;
  }
}