.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
}

.header_type_main-page {
  background-color: #073042;
}

.header__container {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
}

.header__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header__link-logo {
  display: flex;
  align-items: center;
}

.header__movies-item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.header__movies-item.active {
  font-weight: 500;
}

.header__profile-link {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  padding-right: 3px;
}

.header__button {
  width: 76px;
  height: 32px;
  color: black;
  border-radius: 3px;
  font-weight: 500;
  background-color: #3DDC84;
}

.header__links-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__links-container_type_logged {
  width: 100%;
  justify-content: space-between;
  padding-left: 44px;
}

.header__movies-container {
  display: flex;
  gap: 16px;
}

.header__profile-icon {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50px;

  background-image: url(../../images/interface/icon-main-profile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  background-color: #313131;
}

.header__menu-button {
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  width: 28px;
  height: 23px;
  background-image: url(../../images/interface/icon-menu.svg);
}

.header__menu-button_type_closed {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background-size: 28px;
  background-image: url(../../images/interface/icon-close.svg);
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    padding: 0 14px;
  }
}