.about-me {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  max-width: 595px;
}

.about-me__title {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;

  margin: 0;
}

.about-me__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  margin: 0;
  padding: 18px 0 26px;
}

.about-me__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  max-width: 600px;
  margin: 0;
}

.about-me__source {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: auto;
}

.about-me__photo {
  width: 270px;
  object-fit: cover;
}